html{
	scroll-behavior: smooth;
}

*{margin: 0; padding: 0; box-sizing: border-box; 
	font-family: 'Montserrat', sans-serif; font-family: 'Poppins', sans-serif;}

	a{ text-decoration: none; }
	a:hover{ text-decoration: none; }
	li{list-style: none;}

	p{
		font-size: 0.9rem;
		line-height: 1.6;
		font-weight: 600;
		color: #606060;
	}

	.extra-div h2,  .servicediv h2{
		font-size: 0.9rem;
		margin: 20px 0 15px 0;
		font-weight:bolder;
		line-height: 1.1;
		word-spacing:4px;
	}

	i{
		color:#4d61f7;
	}

/***********Actual CSS Start*********/
.header{
	width:100%;
	height:100vh;
	background-image:linear-gradient(rgba(15,250,46,0.3), rgba(15,250,46,0.3 )),
	url('../imgs/bg3.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
	position: relative;
	    }
.header:before{
	content:"";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: .7;
	z-index: -1;
	background: linear-gradient(to right, #1af70a 0%, #66f25c 0%, #04c21d 100%);
}

.navbar:before{
	content:"";
	position: absolute;
	top: 0%;
	bottom: 20%;
	left: 0;
	right: 0;
	opacity: .3;
	z-index: -1;
	background: linear-gradient(to right, #1af70a 0%, #66f25c 0%, #04c21d 100%);
}

.nav-item a{

	color: #fff!important;
	font-weight: bold;
	margin: 20px;
	text-align: center;
}



.header-section{
	width: 100%;
	height: inherit;
	color: white;
	text-align: center;
	position: relative;
}

.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.header-buttons a{
	border: 1px solid #fff;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
}

.header-buttons a:hover{
	font-weight: bold;
	color: #50d1c0;
	background: #fff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p{
	         /*background-color:blue;*/
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	color:white;
}

/***************Hsocial**********/
.hsocial{
	height: auto;
	display: flex;
	justify-content:center;
	align-items: center;
}

.hsocial a{
	height: 100px;
	width: 100px;
	/*background-color: #f5f6fa;
	border-radius:50px;
	margin:5px;
	text-align: center;
	line-height: 120px;
	margin: 10px;
	box-shadow: 1px 4px 2px 2px #dcdde1;*/

}

.hsocial a i{
	transition: all 0.3s linear;
}
.hsocial a:hover i{
	transform: scale(1.4);
}
	.fa-twitter{
		color:#1DA1F2;
	}
	.fa-facebook{
		color:blue;
	}
	.fa-youtube{
		color: #e84118;
	}
	.fa-instagram{
		color: #e84393;
	}
	.fa-linkedin{
		color:#0097e6;
	}


/******************Three Extra Header div start****************/

.header-extradiv{

	width: 100%; height: auto; margin: 100px 0;
	text-align: center;
}

.extra-div{
	background: white;
	border: medium none;
	padding:50px!important;
	border-radius: 3px;
	transition: 0.3s;
}

.extra-div:hover{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-20px);
}

/******************Three Extra Header div End**************/

/*****************Serevice section start*************/

.Services{
	background-color: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}

.headings{
	margin-bottom: 50px;
}
.headings h1{
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
}

.names h1{
	color: #2e2e2e;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: bold;
}

.service-icons{
	display: flex;
	justify-content: center;
	align-items:center;
}

.progress{
	height: 0.6rem;
	width: 75%;
	margin-bottom: 25px;
	background:lightgray;
}
/*****************Serevice section End*************/

/*****************Complate project start*************/

.project{
	margin: 100px 0;
}

.project h1{
	font-size: 2rem;
	text-align: center;
}

/*****************Complate project End*************/

/*****************price section start*************/

.price{
	width:100%;
	height: 100vh;
	padding: 50px;
	position: relative;
}


.price:before{
	content:"";
	position: absolute;
	top: 0%;
	bottom: 20%;
	left: 0;
	right: 0;
	opacity:;
	z-index: -1;
	background: linear-gradient(165deg, #16c9f6 55%, #fff 0%);
}

.cash{
	font-size: 35px;
	line-height: 1;
	color: #606060;
}

.card{
	transition: 0.4s ease;
	display: flex;
}

.card-header{
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: bold;
	background: white;
	padding: 25px 9!important;
}

.card-body{
	margin: 0px 0px!important;
}

.card-body li{
	margin: 10px 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	color:#606060;
}

.card-body li img{
	width: 180px;
	height: 180px;
}

.card-body li a{

	color:lightgreen!important;
	font-weight: bold;
	margin: 20px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 2px;
	padding: 05px 15px;
}
.card-body li a:hover{
	color: #fff!important;
	background: lightgreen;
	text-decoration: none;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.card-footer{
	text-transform: uppercase;
	font-weight: bold;
	background: white!important;
	padding: 20px 0px!important;
}

.card-footer a{
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color:#50d1c0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
}

.card-footer a:hover{
	color: #fff;
	background: #50d1c0;
	text-decoration: none;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.card:hover{
	transform: translateY(-20px);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .card-header, .card:hover .cash{
	color: #50d1c0;
}

/*.card-sec{
	transform: translateY(-20px);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}*/
/*****************Price section End*************/

/*****************Our happy client Start*************/
/*.box img{
	width: 350px;
	height: 330px;
	padding-left: 30px;
}
*/

.clients{
	width: 100%;
	height:auto;
	padding: 100px 0px;
}
.clients h1{
	margin-top: 90px;
}

.box{
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 15px 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 2px;
	transition: 0.3s ease;
	margin-bottom: 80px;
}
.box:hover{
	background: #16c9f6;
}
.box:hover p{
	color: white;
}
.carousel-indicators{
	position: absolute;
	right: 0;
	bottom:20px!important;
}
.carousel-indicators li{
	background-color:#16c9f6!important;
}
.box a{
	position: relative;
}
.box a img{
	width: 100px;
	height: 100px;
	border-radius:50%;
	margin-top:20px;
}

.box a:after{
	content:"\f10d";
	font-family:fontAWesome;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
	position: absolute;
	color:white;
	top: 120%;
	left:70%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box h1{
	font-size:20px;
	/*font-size:700;*/
	color:black;
	margin-bottom: 10px;
}
.box h2{
	font-size:15px;
	font-weight: bold;
	color:#666666;
	margin-bottom: 20px;
}
/*****************Our happy client End*************/

/*****************Contact Us Start*************/

.contact{
	width: 100%;
	height: 100vh;
	padding: 80px 0px;
	position: relative;
}
.contact:before{
	content:"";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity:;
	background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);
	z-index: -1;
}


.form-btn button{
	border: 1px solid #50d1c0;
	border-radius: 100px;
	margin: 0 5px;
	padding: 12px 35px;
	outline: none;
	color:#50d1c0;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	background: transparent;
}

form:hover .form-btn button{
	font-weight: bold;
	background: white;
	color:#50d1c0 ;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder{
	font-size: 0.85rem;
}
/*****************Contact Us End*************/

/*****************Subscribe start*************/
.news{
	width: 100%;
	height: auto;
	margin: 80px auto;
}
.news-input{
	border-radius: 100px 0 0 100px!important;
	min-width: 150px;
	min-height: 45px;
}
.input-group-text{
	color: #fff!important;
	background:#5bc0de!important;
	border-radius: 0px 100px 100px 0px!important;
	min-width: 120px;
	min-height: 45px;
}

/*****************Subscribe End*************/

/*****************Footer start*************/

.footer{
	width: 100%;
	height: auto;
	padding: 70px 0 20px 0;
	background:#00abff;
	position: relative;
}
.footer p{
	color:#fff;
}
.footer li a{
	font-size:0.9rem;
	line-height:1.6;
	font-weight: 400;
	color:#fff;
	text-transform: capitalize;
}
.footer h3{
	text-transform: uppercase;
	color:#fff;
	margin-bottom:15px;
	font-size:1.2rem!important;
	font-weight: bold;
	text-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-groups-text{
	color: #fff!important;
	background:#5bc0de!important;
	border-radius: 0px 100px 100px 0px!important;
	min-width: 100px;
	min-height: 45px;
	border: none;
}
#scbtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	border: none;
	color: white;
	padding: 10px;
	background: #1af70a;
	border-radius: 10px;
}
#scbtn:hover{
	background:#27bf19;
}

.social{
	height: auto;
	display: flex;
	justify-content: right;
	align-items: center;
}
.social a{
	height: 100px;
	width: 100px;
	background-color: #f5f6fa;
	border-radius:50px;
	margin:15px;
	text-align: center;
	line-height: 120px;
	margin: 10px;
	box-shadow: 1px 4px 2px 2px #dcdde1;

}
.social a i{
	transition: all 0.3s linear;
}
.social a:hover i{
	transform: scale(1.4);
}
	.fa-twitter{
		color:#1DA1F2;
	}
	.fa-facebook{
		color:blue;
	}
	.fa-youtube{
		color: #e84118;
	}
	.fa-instagram{
		color: #e84393;
	}
	.fa-linkedin{
		color:#0097e6;
	}

/*****************Footer End*************/

/*****************Media Queries*************/

@media(max-width: 768px){
	.nav-item{
		text-align: center!important;
	}
	.price{
		height: auto;
		margin-top: 50px;
	}
	.card-sec{
		transform: translateY(0px);
		margin:30px 0;
	}
	.contact p{
		padding:0 50px;
	}
	.footer-div:nth-child(2){
		text-align: left!important;
	}
		.footer-div{
		margin: 30px 0;
	}
}
